@charset "UTF-8";
h1,h2,h3,h4,h5,h6{
	font-family: '나눔고딕';
}

/*----------top----------*/
.header{
	width:100%;
	display:flex;
}
.logo{
	margin:10px;
	margin-left:30px;
	width:300px;
	display: flex;
	justify-content:center;
	padding:0 auto;
}
.logo h3{
	width:120px;
	margin:auto;
	margin-left:30px;
}
.navBar{
	width:70%;
	display:flex;
	justify-content:flex-end;
}
.navBarA{
	float:right;
	display: inline-block;
	padding-top:25px;
}
.navBar a{
	color:black;
}
.logoImg{
	width:50px;
	color:gray;
	cursor:pointer;
}
th.black{
	position:fixed;
	width:100%;
	background:#000;
    background:rgba(0,0,0,0.6);
    color:white;
}
div.navBarA a.black{
	color:white;
}
div.navBarA a.black:hover {
	color: #c8b900;
	text-decoration: none;
}
/*----------login----------*/
.loginFormTable{
	width:100%;
	margin-top:10px;
}

.g-signin2{
	margin:20px;
}
/*----------checkPost----------*/
.checkPostTable th{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
	background:#ffebb8;
	font-size:10pt;
}
.postList, .postListHead{
	font-size:9pt;
	border-bottom: 1px solid #e3d09d;
}
.postListHead{
	background:#fff5db;
}

/*----------writeForm----------*/
.writeFormTable {
	background-color:#faf7b6;
	Font-Family: 맑은 고딕;
}

/*----------modifyForm----------*/
.modifyFormTable{
	Font-Family: 맑은 고딕;
}

/*----------index----------*/
html, body{
  margin:0;
  padding:0;
  width:100%;
  font-family:quicksand;
}
#loginOk{
	width:300px;
}
.indexHeader{
	background:#faf7b6;
}
.indexCenter{
	background:#fffef0;
}
#paging{
	cursor:pointer;
}

/*----------footer----------*/
.footer{
  padding:30px;;
  display:flex;
  background:#faf7b6;
  color:gray;
  font-weight: bold;
}
.logoFooter,.follow,.news{
  margin:30px;
  width:30%;;
}
#follow{
  padding:10px;
  width:50px;
  height:50px;
  cursor:pointer;
}
.copyright{
  padding:30px;
  font-size:10px;
  background:#dbd993;
  color:gray;
  text-align:center;
}


/*----------boardWriteForm----------*/
.boardFormTable td{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
}
.tableHeader{
	background:#fff5db;
}

/*----------boardList----------*/
.listTable{
	border-top: 1px solid #fffcc9;
}
.listTh{
	background-color: #faf7b6;
}
#currentPaging {
	border: 1px red solid;
	text-decoration: underline;
}

#Paging {
	color: black;
	text-decoration: none;
}

.subjectA:link {
	color: black;
	text-decoration: none;
}

.subjectA:visited {
	color:black;
	text-decoration: none;
}

.subjectA:hover {
	color: #ff0080;
	text-decoration: none;
}

.subjectA:active {
	color: black;
	text-decoration: none
}

/*----------boardview----------*/
.viewTable td{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
}

/*----------boardModifyForm----------*/
.modifyFormTable td{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
}
/*----------imageBoardList----------*/
.imageBoardListTable td{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
}
.productImage{
	width:150px;
	height:150px;
}
.imageBoardViewTable td{
	border-top: 1px solid #e3d09d;
	border-bottom: 1px solid #e3d09d;
}