<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">

	<!-- BoardList -->
	<select id="selectAll" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		select * from (select rownum rn, tt.* from(select * from board order by ref desc, step asc)tt) where rn &gt;= #{startNum} and rn &lt;= #{endNum}
	</select>
	
	<select id="getTotalA" resultType="java.lang.Integer">
		select count(*) as count from board
	</select>
	
	<!-- BoardSearch -->
	<select id="getBoardList" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		<if test="searchOption==1">
			select * from (select rownum rn, tt.* from(select * from board where subject like '%'||#{keyword}||'%' order by ref desc, step asc)tt)  where rn &gt;= #{startNum} and rn &lt;= #{endNum}
		</if>
		<if test="searchOption==2">
			select * from (select rownum rn, tt.* from(select * from board where id like '%'||#{keyword}||'%'  order by ref desc, step asc)tt)  where rn &gt;= #{startNum} and rn &lt;= #{endNum}
		</if>
	</select>
		<select id="getTotalA1" parameterType="java.util.Map" resultType="Integer">
		<if test="searchOption==1">
         select count(*) as count from board where subject like '%'||#{keyword}||'%'
      </if>
      <if test="searchOption==2">
         select count(*) as count from board where id like '%'||#{keyword}||'%'
      </if>
	</select>
	
	<!-- BoardWrite -->
	<insert id="insertBoard" parameterType="board.bean.BoardDTO">
		insert into board values(#{seq},#{id},#{name},#{email},#{subject},#{content},#{seq},#{lev},#{step},#{pseq},#{reply},#{hit},sysdate)
	</insert>
	<select id="seq" resultType="java.lang.Integer">
		select seq_board.nextval from dual
	</select>
	
	<!-- BoardModify -->
	<update id="updateBoard" parameterType="board.bean.BoardDTO">
		update board set subject =#{subject},content=#{content}, logtime=sysdate where seq=#{seq}
	</update>
	
	<!-- HIT -->
	<update id="countHit" parameterType="java.lang.Integer">
		 update board set hit = hit + 1 where seq=#{seq}
	</update>

	<!-- BoardView -->
	<select id="getBoard" parameterType="int" resultType="board.bean.BoardDTO">
		select * from board where seq=#{seq}
	</select>
	
	<!-- BoardReplyForm -->
<update id="boardReply1" parameterType="board.bean.BoardDTO">
	update board set step=step+1 where ref= #{ref} and step>#{step}
</update>
<update id="boardReply2" parameterType="java.util.Map">
	insert into board values(seq_board.nextval
							,#{id}
							,#{name}
							,#{email}
							,#{subject}
							,#{content}
							,#{ref}
							,#{lev}
							,#{step}
							,#{pseq}
							,0,0,sysdate)
</update>
<update id="boardReply3" parameterType="int">
	update board set reply=reply+1 where seq=#{pseq}
</update>

<!-- BoardDelete -->
<delete id="boardDelete" parameterType="int">
begin
	update board set reply=reply-1 where ref=(select ref from board where seq=#{seq}) and seq=#{seq};
	update board set subject=concat('[원글이 삭제된 답글]',subject) where pseq=#{seq};
	delete board where seq=#{seq};
end;
</delete>
<!-- ImageBoardWrite -->
<update id="imageBoardUpdate" parameterType="board.bean.ImageDTO">
	insert into imageboard values(seq_imageboard.nextval
							,#{imageId}
							,#{imageName}
							,#{imagePrice}
							,#{imageQty}
							,#{imageContent}
							,#{image1}
							,sysdate)
</update>
<select id="getImageBoard" parameterType="java.util.Map" resultType="board.bean.ImageDTO">
		select * from (select rownum rn, tt.* from(select * from imageboard order by seq)tt) where rn &gt;= #{startNum} and rn &lt;= #{endNum}
</select>
<!-- ImageBoardList -->
<select id="getTotalImageBoard" resultType="java.lang.Integer">
		select count(*) as count from imageboard
</select>

</mapper>